node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
local.env
prod.env
README.md
.vscode
.idea
*.log
.DS_Store
build
coverage
.eslintcache
*.tmp
yarn.lock
.yarn
.cache
.next
out
public/fonts
